# IDE settings
.vscode/*
!.vscode/tasks.json
.idea
../.idea
.DS_Store

## Local files
# Credentials
infra/.aws
# SSH keys
*.pem
infra/docker/airflow/localfiles
infra/docker/airflow/credentials
infra/kubernetes/airflow/localfiles
# Secret config files
*.local.yml
*.local.yaml
*.local.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
test-reports

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
nba/docs/_build/
nba/docs/source/src/**/*.rst

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# terraform
.terraform*
terraform.tfstate
terraform.tfstate.*

# astronomer
astro/

# airflow_settings
airflow_settings.*

# local sh
*.local.sh

# local test like dag files
local_test

# isort setting
.isort.cfg

# snowflake
connections.toml
secrets.toml

ARCHIVE
plan*
PLAN*

# git worktrees
.worktrees/
